# Requirements

pandas
numpy
scikit-learn
scipy
matplotlib
seaborn

# التوصية (Collaborative Filtering, Hybrid)
surprise

# Model 
svd
NearestNeighbors

# واجهة المستخدم التفاعلية
streamlit

# أدوات إضافية
langchain_ollama
PIL
